*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    margin: 5px auto 20px auto;  
    padding-bottom: 10px;  
    border-radius: 10px;
    box-shadow: 0px 0px 40px #aca9a9;
    border: #aca9a9 solid 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3b9dc1;
    max-width: 640px;
}

h1{
    margin-top: 20px;
    font-size: 50px;
    margin-bottom: 5px;
}

header > p{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: rgb(69, 67, 67);
    margin: 5px 0px 10px 0px;
}

body{
    background-color: #d0ebeb;
}

#patient-info{
    margin-left: 30px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

#form-card{
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 20px #3b9dc1;
    border: #3b9dc1 solid 2px;
    max-width: 600px;
    margin: 0px auto 0px auto;
    padding: 20px;
}

#patient-info{
    align-self: auto;
    margin-left: 50px;
}

label{
    margin-top: 15px;
}

#genders{
    display: inline-block;
    margin: 5px 0px 15px 0px;
}

#genders > p{
    margin-bottom: 5px;
}

#area-medicalhistory{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 5px 0px 10px 0px;
}

#area-medicalhistory > label{
    margin-bottom: 10px;
}

#area-medicalhistory > textarea{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 20px;
    resize: none;
    field-sizing: content;
}

#confirm-consent{
    margin: 10px 0px 20px 0px;
    display: inline-block;
    align-self: center;
}

input{
    font-family: Arial, Helvetica, sans-serif;
}

button{
    width: 100px;
    align-self: center;
    background-color: #52b7dc;
    border: none;
    border-radius: 7px;
    padding: 7px;
}

button:hover{
    background-color: #25aadaaf;
    box-shadow: 0px 0px 5px black;
}

button:active{
    background-color: #125168af;
    box-shadow: 0px 0px 10px black;
}